.hero-group__text {
  margin: 0 0 38px 0;
  font-size: 16px;
  line-height: 28px;
}

@media screen and (max-width: 475px) {
  .hero-group__text {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 58px 0;
  }
}