.hero__avatar {
  align-self: center;
  max-width: 362px;
  border-radius: 50%;
  border: 11px solid #FFFFFF;
}

@media screen and (max-width: 475px) {
  .hero__avatar {
    max-width: 107px;
    border: 3px solid #FFFFFF;
  }  
}