.medium__social-list {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 475px) {
  .medium__social-list {
    flex-direction: column;
    row-gap: 13px;
  }
}
