.portfolio__projects {
  display: flex;
  column-gap: 16px;
}

@media screen and (max-width: 800px) {
  .portfolio__projects {
    flex-direction: column;
    row-gap: 35px;
    justify-content: center;
  }

}