.portfolio__container {
  max-width: 944px;
  margin: 0 auto;
  padding: 64px 48px;
}

@media screen and (max-width: 800px) {
  .portfolio__container {
    margin: 0 28px;
    padding: 61px 0 89px;
  }
}