.table {
  margin: 0 auto;
  padding: 0 0 92px 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
  gap: 64px 16px;
}

@media screen and (max-width: 475px) {
  .table {
    padding: 0 0 59px 0;
    grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
    gap: 30px;
  }
}